* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(237, 193, 216);
    background-image: linear-gradient(to right, rgb(255, 0, 132) , rgb(5, 5, 5));
    margin-top: 3em;
}

.sivu {
    background-image: linear-gradient(to right, rgb(255, 0, 132) , rgb(5, 5, 5));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.intro {
    line-height: 2; 
}

#navigointi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    box-sizing: border-box;
    z-index: 1000; 
}

#navigointi a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
}

#navigointi ul {
    display: flex;
    margin: 0;
    padding: 0;
}

#navigointi li {
    list-style: none;
}

#navigointi a:hover {
    color: #e0e0e0;
}

#footer {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.month {
    background: #4c0141;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    display: none;
}
      
#active {
    display: block;
}


.month ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.month ul li.text {
    flex: 1;
    text-align: center;
}

.month .prev,
.month .next {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.month .prev {
    left: 10px;
}

.month .next {
    right: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #5b5757;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #f9f7f7;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #bc1a7e;
    color: white !important;
}

.event {
    font-weight: bold;
    color: #441136;
    border: 1px solid #441136;
    padding: 5px; 
    margin: 5px; 
}