* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(237, 193, 216);
    background-image: linear-gradient(to right, rgb(255, 0, 132) , rgb(5, 5, 5));
}

.sivu {
    background-image: linear-gradient(to right, rgb(255, 0, 132) , rgb(5, 5, 5));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.intro {
    line-height: 2; 
}

#navigointi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    z-index: 1000; 
}

#navigointi a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 1em;
}

#navigointi ul {
    display: flex;
    margin: 0;
    padding: 0;
}

#navigointi li {
    list-style: none;
}

#navigointi a:hover {
    color: #e0e0e0;
}

#footer {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kalenteri {
    max-width: 90%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
}